<div class=" container-fluid py-5">

    <div class="row">
        <div class="col-12 col-lg-8 mx-auto fondoGris">
            <!-- mx-auto w-50  bg-light p-5" -->

            <div class=" row ">

                <div class="col-12 col-lg-3 align-self-cente p-5 ">
                    <svg _ngcontent-xpw-c19=" " xmlns="http://www.w3.org/2000/svg " width="50 " height="50 " fill="currentColor " viewBox="0 0 16 16 " class="bi bi-journal-bookmark colorIcono "><path _ngcontent-xpw-c19=" " fill-rule="evenodd " d="M6
            8V1h1v6.117L8.743 6.07a.5.5 0 0 1 .514 0L11 7.117V1h1v7a.5.5 0 0 1-.757.429L9 7.083 6.757 8.43A.5.5 0 0 1 6 8z "></path><path _ngcontent-xpw-c19=" " d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1
            1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z "></path><path _ngcontent-xpw-c19=" " d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5
            0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z "></path></svg>
                </div>

                <div class="col-12 col-lg-8 ">
                    <h2>Configuración Básica</h2>

                    <p class="fs-tamanio ">Método de pago, facturas, ciclos de cobro</p>
                    <div class="tamanio ">
                        <img src="https://static.intercomassets.com/avatars/3004913/square_128/fotoperfil2-1581928136.png " alt="Gabriela Elena avatar ">
                        <img src="https://static.intercomassets.com/avatars/1589947/square_128/copia_de_equipo-1581929250.png " alt="Claudia Fusco avatar ">
                        <img src="https://static.intercomassets.com/avatars/285415/square_128/8_%281%29-1562857813.png " alt="Alvaro Vila avatar ">
                        <label class="Circulo ">+2</label>

                        <label class="m-1 "> 11 artículos en este apartado <br>Redactado por Gabriela Elena, Claudia Fusco, y Alvaro Vila y 2 más</label>

                    </div>

                </div>


            </div>

            <div class="col-12 mx-auto bg-white p-4 ">
                <a href=" " class="text-decoration-none title " routerLink="EliminarWit"> Dar de baja la cuenta Witei</a>
                <br>
                <label class="fs-tamanio ">Cómo dar de baja tu cuenta de Witei y las suscripciones activadas.</label>
                <div class="col-12 tamanio ">
                    <div> <img src="https://static.intercomassets.com/avatars/3004913/square_128/fotoperfil2-1581928136.png " alt="Gabriela Elena avatar ">


                        <label class="p-2 text-muted "> Redactado por gabriela Elena <br> Actualizado hace más de una semana</label>

                        <hr>
                    </div>
                    <a href=" " class="text-decoration-none title "> Gestión de usuarios</a>
                    <br>
                    <label class="fs-tamanio ">Crear, modificar o dar de baja usuarios: configurar sus permisos, perfil, idioma, etc.</label>
                    <div class="col-12 tamanio ">
                        <div> <img src="https://static.intercomassets.com/avatars/1589947/square_128/copia_de_equipo-1581929250.png " alt="Claudia Fusco avatar ">



                            <label class="p-2 text-muted "> Redactado por Claudia Fusco <br> Actualizado hace más de una semana</label>

                        </div>

                    </div>
                    <!--  -->
                    <hr>
                </div>
                <a href=" " class="text-decoration-none title "> Usuarios: editar datos y ver permisos de usuario</a>
                <br>
                <label class="fs-tamanio ">Personaliza tus datos de usuario, firma de email, idioma y fotografía de avatar. Visualiza tus permisos de usuario.</label>
                <div class="col-12 tamanio ">
                    <div> <img src="https://static.intercomassets.com/avatars/3004913/square_128/fotoperfil2-1581928136.png " alt="Gabriela Elena avatar ">


                        <label class="p-2 text-muted "> Redactado por gabriela Elena <br> Actualizado hace más de una semana</label>

                    </div>
                    <!--  -->
                    <hr>
                </div>
                <a href=" " class="text-decoration-none title "> ¿Cómo gestiono un espacio de trabajo?</a>
                <br>
                <label class="fs-tamanio ">Qué son, cómo se editan y cómo se migra información de unos espacios de trabajo a otros.</label>
                <div class="col-12 tamanio ">
                    <div> <img src="https://static.intercomassets.com/avatars/285415/square_128/8_%281%29-1562857813.png " alt="Alvaro Vila avatar ">



                        <label class="p-2 text-muted "> Redactado por Alvaro Vila <br> Actualizado hace más de una semana</label>

                    </div>
                    <hr>
                </div>
                <a href=" " class="text-decoration-none title "> Tus facturas y método de pago</a>
                <br>
                <label class="fs-tamanio ">Datos de facturación, pagos pendientes, solicitud de revisiones, facturas, etc</label>
                <div class="col-12 tamanio ">
                    <div> <img src="https://static.intercomassets.com/avatars/1589947/square_128/copia_de_equipo-1581929250.png " alt="Claudia Fusco avatar ">


                        <label class="p-2 text-muted "> Redactado por gabriela Elena <br> Actualizado hace más de una semana</label>

                    </div>

                </div>

            </div>
        </div>


    </div>
</div>